<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment></Fragment>
</Wix>

<!--<?xml version="1.0" encoding="UTF-8"?>
--><!-- The name of the product --><!--
<?define Name = "tcpTrigger" ?>
--><!-- The manufacturer, for setup package publisher and folder info --><!--
<?define Manufacturer = "SmithLV.com" ?>
--><!-- The version number of this setup package--><!--
<?define Version = "1.0.0" ?>
--><!-- UpgradeCode must be unique and not changed once the first version of the program is installed. --><!--
<?define UpgradeCode = "{1749390A-40AA-4704-BFB8-AF0AD9D2D53C}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="$(var.Name)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)"
           Version="$(var.Version)"
           Language="1033">
    <Package InstallerVersion="300" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine"/>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    --><!-- Add the icon for add/remove programs --><!--
    <Icon Id="tcpTrigger.ico" SourceFile="tcpTrigger.ico"/>
    <Property Id="ARPPRODUCTICON" Value="tcpTrigger.ico" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="WixUI_InstallDir" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg"
            Control="Next"
            Event="NewDialog"
            Value="InstallDirDlg"
            Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
            Control="Back"
            Event="NewDialog"
            Value="WelcomeDlg"
            Order="2">1</Publish>
    </UI>


    --><!-- Allow upgrades and prevent downgrades --><!--
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    --><!-- Define the directory structure --><!--
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.Name)" />
      </Directory>


      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="C40E4BAF-0F3C-49B0-B15F-797CAF4A9875">
          <Shortcut Id="ApplicationDesktopShortcut"
                    Name="tcpTrigger Editor"
                    Description="tcpTrigger configuration editor"
                    Target="[INSTALLFOLDER]tcpTrigger Editor.exe"
                    WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          --><!--<RegistryValue
              Root="HKCU"
              Key="Software/MyAppName"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>--><!--
        </Component>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">

      --><!-- Create a single component which is the tcpTrigger.exe file --><!--
      <Component Id="$(var.tcpTrigger.TargetFileName)" Guid="3643785D-EE1E-4FAC-919C-50ED43BD2CCC">


        <Util:EventSource
          xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
          Name="tcpTrigger"
          Log="Application"
          EventMessageFile="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\EventLogMessages.dll"
        />

        --><!-- Copy tcpTrigger.exe and supporting files. --><!--
        <File Id="tcpTrigger" Source="$(var.tcpTrigger.TargetPath)" KeyPath="yes" />
        <File Id="tcpTrigger.config" Source="$(var.tcpTrigger.TargetPath).config" />
        <File Id="tcpTrigger.Editor" Source="$(var.tcpTrigger.Editor.TargetPath)" />

        --><!-- Remove all files from the INSTALLFOLDER on uninstall --><!--
        <RemoveFile Id="ALLFILES" Name="*.*" On="both" />

        --><!-- Tell WiX to install the Service --><!--
        <ServiceInstall Name="tcpTrigger"
                        DisplayName="$(var.Name)"
                        Type="ownProcess"
                        Description="Listens on a network port and performs configurable actions each time a connection is established."
                        Start="auto"
                        Account="NT AUTHORITY\LocalService"
                        ErrorControl="normal" />

        --><!-- Tell WiX to start the Service --><!--
        <ServiceControl Id="StartService"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Name="tcpTrigger"
                        Wait="yes" />
      </Component>
    </DirectoryRef>

    --><!-- Tell WiX to install the files --><!--
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="$(var.tcpTrigger.TargetFileName)" />
      <ComponentRef Id="ApplicationShortcutDesktop"/>
    </Feature>

    --><!--<CustomAction Id="LaunchApplication"
                  Directory="INSTALLFOLDER"
                  ExeCommand="[SystemFolder]cmd.exe /C start tcpTrigger.Editor.exe" />
    <InstallExecuteSequence>
      <Custom Action="LaunchApplication" After="InstallFinalize" />
    </InstallExecuteSequence>--><!--
  </Product>
</Wix>-->