<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
    </startup>

  <appSettings>
    <add key="Trigger.EnableMonitorTcpPort" value="true"/>
    <add key="Trigger.EnableMonitorIcmpPing" value="false"/>
    <add key="Trigger.TcpPortsToListenOn" value="22,3389"/>
    <add key="Action.EnableEventLog" value="true"/>
    <add key="Action.EnableEmailNotification" value="false"/>
    <add key="Action.EnableRunApplication" value="false"/>
    <add key="Action.RateLimitMinutes" value="4"/>
    <add key="Action.ApplicationPath" value=""/>
    <add key="Action.ApplicationArguments" value=""/>
    <add key="Email.Server" value=""/>
    <add key="Email.ServerPort" value="25"/>
    <add key="Email.RecipientAddress" value=""/>
    <add key="Email.SenderAddress" value="no-reply@example.com"/>
    <add key="Email.SenderDisplayName" value="tcpTrigger"/>
    <add key="Email.Subect" value=""/>
    <add key="Email.Body" value=""/>
  </appSettings>
</configuration>
