<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
    </startup>

  <appSettings>
    <add key="Trigger.EnableMonitorTcpPort" value="true"/>
    <add key="Trigger.EnableMonitorIcmpPing" value="false"/>
    <add key="Trigger.TcpPortsToListenOn" value="22,3389"/>
    <add key="Trigger.EnableNamePoisonDetection" value="true"/>
    <add key="Trigger.EnableRogueDhcpDetection" value="false"/>
    <add key="Dhcp.SafeServerList" value=""/>
    <add key="DoNotMonitorVMwareVirtualHostAdapters" value="true"/>
    <add key="Action.EnableEventLog" value="true"/>
    <add key="Action.EnableEmailNotification" value="false"/>
    <add key="Action.EnableRunApplication" value="false"/>
    <add key="Action.EnablePopupMessage" value="false"/>
    <add key="Action.RateLimitMinutes" value="3"/>
    <add key="Action.ApplicationPath" value=""/>
    <add key="Action.ApplicationArguments" value=""/>
    <add key="Email.Server" value=""/>
    <add key="Email.ServerPort" value="25"/>
    <add key="Email.RecipientAddress" value=""/>
    <add key="Email.SenderAddress" value="no-reply@example.com"/>
    <add key="Email.SenderDisplayName" value="tcpTrigger"/>
    <add key="Email.Subject" value=""/>
    <add key="MessageBody.Ping" value="[tcpTrigger]&#xD;&#xA;A ping request was detected&#xD;&#xA;&#xD;&#xA;Source IP: #SOURCEIP#&#xD;&#xA;Destination IP: #DESTINATIONIP#"/>
    <add key="MessageBody.TcpConnect" value="[tcpTrigger]&#xD;&#xA;A connection was attempted to a monitored port&#xD;&#xA;&#xD;&#xA;Source IP: #SOURCEIP#&#xD;&#xA;Destination IP: #DESTINATIONIP#&#xD;&#xA;Destination Port: #DESTINATIONPORT#" />
    <add key="MessageBody.NamePoison" value="[tcpTrigger]&#xD;&#xA;NetBIOS / LLMNR name poisoning detected&#xD;&#xA;&#xD;&#xA;Source IP: #SOURCEIP#&#xD;&#xA;Interface: #DESTINATIONIP#"/>
    <add key="MessageBody.RogueDhcp" value="[tcpTrigger]&#xD;&#xA;Possible rogue DHCP server detected&#xD;&#xA;&#xD;&#xA;DHCP Server IP: #DHCPSERVERIP#&#xD;&#xA;Interface: #DESTINATIONIP#"/>
  </appSettings>
</configuration>
